html,
body {
  margin: 0;
  padding: 0;

  min-width: 1024px;
  margin: 0 auto;

  font: 20px "PT Mono";
  color: #ffffff;

  background: #da641a;
}

h1,
h2 {
  text-align: center;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.72);
}

button {
  margin-right: 20px;
  padding: 0 16px;

  font: bold 20px "PT Mono";
  line-height: 54px;

  background: #ffffff;
  border: 0;
}

*[tabindex]:focus, button:focus, input:focus {
  outline: none;
  box-shadow: 0 0 10px #fff000;
}

form {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

.section-title {
  position: relative;

  height: 52px;

  text-indent: -1000em;
}

.section-title img {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);
}

header {
  position: relative;

  padding-top: 80px;

  text-align: center;

  background: #2b5cfc;
  background: linear-gradient(180deg, #0000ff, #94c6fd);
  border-bottom: solid 8px #1cb34d;
}

.header-title {
  height: 101px;
  margin-bottom: 30px;
}

.header-clouds {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;

  height: 363px;

  background: url("../img/clouds.png") top center repeat-x;
}

.header-fence {
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 91px;
  height: 48px;
  margin-left: -400px;

  background: url("../img/fence.gif") no-repeat;
}

.header-tree {
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 120px;
  height: 137px;
  margin-left: 300px;

  background: url("../img/tree.gif") no-repeat;
}

.header-title {
  position: relative;
  z-index: 1;

  margin: 0 0 28px;
  padding: 0;

  font-size: 69px;
}

.header-description {
  position: relative;
  z-index: 1;

  width: 620px;
  margin: 0 auto;

  font-size: 20px;
  line-height: 1.5;
}

.demo {
  width: 700px;
  height: 300px;
  margin: 0 auto;
}

footer {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #000000;
}

footer a {
  color: #000000;
}

footer p {
  margin-bottom: 0;
  padding-bottom: 20px;
}

.footer-link {
  position: relative;

  display: block;
  width: 250px;
  margin: 0 auto;
  padding-top: 50px;
}

.footer-link:hover {
  opacity: 0.6;
}

.footer-link img {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);
}

.setup {
  width: 800px;

  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);

  background: #89a1fd;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  color: #000;

  z-index: 3;
}

.setup-open-icon {
  position: absolute;
  top: 100px;
  right: 100px;

  cursor: pointer;

  z-index: 2;
}

.setup-open-icon:hover {
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.setup-title {
  padding: 20px;
}

.setup-user {
  display: inline-block;
}

.setup-open-icon,
.setup-user-pic {
  width: 40px;
  height: 40px;

  display: inline-block;

  margin-right: 5px;
  margin-top: -10px;
  border-radius: 40px;
  overflow: hidden;
  vertical-align: middle;
}

.setup-user-name {
  background: transparent;
  border: 0;
  color: #fff;

  font-family: 'PT Mono', serif;
  font-size: 30px;
  font-weight: 900;

  width: 500px;
}

.setup-user-name:valid {
  border: 0;
}

.setup-user-name:invalid {
  border: 2px solid red;
}

.setup-user-name:focus {
  border-bottom: solid 1px #000;
  outline: none;
}

.setup-close {
  float: right;

  top: 20px;
  right: 20px;

  font-size: 70px;
  color: #000;
  cursor: pointer;

  transform: translateY(-0.3em);
}

.setup-artifacts-shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  padding-top: 20px;
  padding-bottom: 20px;

  width: 716px;
  height: 65px;
}

.setup-player {
  padding-top: 20px;
  position: relative;

  height: 300px;
  min-height: 300px;
}

.setup-wizard {
  width: 250px;
  height: 250px;

  position: absolute;
  bottom: 0;
  left: 50px;
}

.setup-fireball-wrap {
  position: absolute;
  left: 300px;
  top: 0;

  width: 75px;
  height: 75px;

  background: #ee4830;
}

.setup-fireball {
  background: url('../img/fireball-mask.png');
  background-size: 75px 75px;
  width: 75px;
  height: 75px;
}

.setup-artifacts {
  position: absolute;
  bottom: 0;
  right: 46px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 260px;
  height: 260px;
}

.setup-artifacts-cell {
  width: 65px;
  height: 65px;

  background: rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.5);

  box-sizing: border-box;
}

.setup-artifacts-cell:last-child {
  border-right-width: 1px;
}

.setup-footer {
  border-top: 10px solid #1cb34d;
  padding-bottom: 20px;

  background-color: #da641a;
}

.setup-similar-title {
  color: #fff;

  margin-left: 20px;
}

.setup-similar-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-left: 20px;
  margin-right: 20px;

  flex-wrap: nowrap;
}

.setup-similar-item {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.setup-similar-label {
  margin: 5px;

  color: #fff;

}

.setup-similar-content {
  position: relative;

  width: 150px;
  height: 150px;

  background-color: #414342;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.25);
}

.setup-similar-wizard {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;

  margin: 0 auto;

  width: 100px;
}

.setup-submit {
  display: block;
  margin: 20px auto 0;

  background: #1cb34d;
  color: #fff;
}

.setup-submit:disabled {
  opacity: 0.3;
}

.upload {
  position: relative;

  display: inline-block;

  box-sizing: border-box;

  width: 40px;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
}

.upload .setup-user-pic {
  display: block;
  margin: 0;

  position: absolute;
  left: 0;
  top: 0;
}

.upload input {
  position: absolute;
  z-index: 0;
  opacity: 0;
  width:100%;
  height:100%;

  left: 0;
  top: 0;
}
